body{
	text-decoration-color: #337ab7;
	font-family: 'Open Sans', sans-serif;
	background-color: #f1f1f1;
}

.navbar {
    background-color: #e0e0e0;
}

.navbar-brand {
	font-family: 'Montserrat', sans-serif;
}

.navbar-toggle {
	border-color: #337ab7;
}

.icon-bar {
	background-color: #337ab7;
}

.thumbnail{
	height: 220px;
}