body{
	text-decoration-color: #337ab7;
}

.navbar {
	border-bottom-color: #337ab7;
}

.navbar-toggle {
	border-color: #337ab7;
}

.icon-bar {
	background-color: #337ab7;
}

.thumbnail{
	height: 220px;
}