IndependentProject/docs/TREC2016-RTS-topics.json
IndependentProject/docs/rts2016-qrels-tweets2016.jsonl
IndependentProject/docs/index/2016/08/06/_1.fdx
IndependentProject/docs/index/2016/08/07/_1.fdt
IndependentProject/docs/index/2016/08/07/_1.fdx
IndependentProject/docs/index/2016/08/07/write.lock
IndependentProject/docs/index/2016/08/08/_1.fdt
IndependentProject/docs/index/2016/08/08/_1.fdx
IndependentProject/docs/index/2016/08/08/write.lock
IndependentProject/docs/index/2016/08/09/_1.fdt
IndependentProject/docs/index/2016/08/09/_1.fdx
IndependentProject/docs/index/2016/08/09/write.lock
IndependentProject/docs/index/2016/08/10/_1.fdt
IndependentProject/docs/index/2016/08/10/_1.fdx
IndependentProject/docs/index/2016/08/10/write.lock
IndependentProject/docs/index/2016/08/11/_1.fdt
IndependentProject/docs/index/2016/08/11/_1.fdx
IndependentProject/docs/index/2016/08/11/write.lock
IndependentProject/docs/index/2016/08/02/_4.fdt
IndependentProject/docs/index/2016/08/02/_4.fdx
IndependentProject/docs/index/2016/08/02/write.lock
IndependentProject/docs/index/2016/08/03/_3.fdt
IndependentProject/docs/index/2016/08/03/_3.fdx
IndependentProject/docs/index/2016/08/04/_1.fdt
IndependentProject/docs/index/2016/08/03/write.lock
IndependentProject/docs/index/2016/08/04/_1.fdx
IndependentProject/docs/index/2016/08/04/write.lock
IndependentProject/docs/index/2016/08/05/_1.fdt
IndependentProject/docs/index/2016/08/05/_1.fdx
IndependentProject/docs/index/2016/08/05/write.lock
IndependentProject/docs/index/2016/08/06/_1.fdt
IndependentProject/docs/index/2016/08/06/write.lock
IndependentProject/docs/index/2016/08/02/_f.cfe
IndependentProject/docs/index/2016/08/02/_f.cfs
IndependentProject/docs/index/2016/08/02/_f.si
IndependentProject/docs/index/2016/08/02/segments_3
IndependentProject/docs/index/2016/08/03/_8.cfe
IndependentProject/docs/index/2016/08/03/_8.cfs
IndependentProject/docs/index/2016/08/03/_8.si
IndependentProject/docs/index/2016/08/03/segments_3
IndependentProject/docs/index/2016/08/04/_6.cfe
IndependentProject/docs/index/2016/08/04/_6.cfs
IndependentProject/docs/index/2016/08/04/_6.si
IndependentProject/docs/index/2016/08/04/segments_2
IndependentProject/docs/index/2016/08/05/_5.cfe
IndependentProject/docs/index/2016/08/05/_5.cfs
IndependentProject/docs/index/2016/08/05/_5.si
IndependentProject/docs/index/2016/08/05/segments_2
IndependentProject/docs/index/2016/08/06/_5.cfe
IndependentProject/docs/index/2016/08/06/_5.cfs
IndependentProject/docs/index/2016/08/06/_5.si
IndependentProject/docs/index/2016/08/06/segments_2
IndependentProject/docs/index/2016/08/07/_5.cfe
IndependentProject/docs/index/2016/08/07/_5.cfs
IndependentProject/docs/index/2016/08/07/_5.si
IndependentProject/docs/index/2016/08/07/segments_2
IndependentProject/docs/index/2016/08/08/_5.cfe
IndependentProject/docs/index/2016/08/08/_5.cfs
IndependentProject/docs/index/2016/08/08/_5.si
IndependentProject/docs/index/2016/08/08/segments_2
IndependentProject/docs/index/2016/08/09/_5.cfe
IndependentProject/docs/index/2016/08/09/_5.cfs
IndependentProject/docs/index/2016/08/09/_5.si
IndependentProject/docs/index/2016/08/09/segments_2
IndependentProject/docs/index/2016/08/10/_5.cfe
IndependentProject/docs/index/2016/08/10/_5.cfs
IndependentProject/docs/index/2016/08/10/_5.si
IndependentProject/docs/index/2016/08/10/segments_2
IndependentProject/docs/index/2016/08/11/_5.cfe
IndependentProject/docs/index/2016/08/11/_5.cfs
IndependentProject/docs/index/2016/08/11/_5.si
IndependentProject/docs/index/2016/08/11/segments_2
IndependentProject/docs/index/2016/08/07/_9.si
IndependentProject/docs/index/2016/08/07/segments_6
IndependentProject/docs/index/2016/08/08/_9.cfe
IndependentProject/docs/index/2016/08/08/_9.cfs
IndependentProject/docs/index/2016/08/08/_9.si
IndependentProject/docs/index/2016/08/08/segments_6
IndependentProject/docs/index/2016/08/09/_9.cfe
IndependentProject/docs/index/2016/08/09/_9.cfs
IndependentProject/docs/index/2016/08/09/_9.si
IndependentProject/docs/index/2016/08/09/segments_6
IndependentProject/docs/index/2016/08/10/_9.cfs
IndependentProject/docs/index/2016/08/10/_9.si
IndependentProject/docs/index/2016/08/10/segments_6
IndependentProject/docs/index/2016/08/11/_9.cfe
IndependentProject/docs/index/2016/08/11/_9.cfs
IndependentProject/docs/index/2016/08/11/_9.si
IndependentProject/docs/index/2016/08/11/segments_6
IndependentProject/docs/index/2016/08/05/_9.cfs
IndependentProject/docs/index/2016/08/05/_9.si
IndependentProject/docs/index/2016/08/05/segments_6
IndependentProject/docs/index/2016/08/06/_9.cfe
IndependentProject/docs/index/2016/08/06/_9.cfs
IndependentProject/docs/index/2016/08/06/_9.si
IndependentProject/docs/index/2016/08/07/_9.cfe
IndependentProject/docs/index/2016/08/07/_9.cfs
IndependentProject/docs/index/2016/08/10/_9.cfe
IndependentProject/docs/index/2016/08/03/_c.cfs
IndependentProject/docs/index/2016/08/03/_c.si
IndependentProject/docs/index/2016/08/04/_a.cfe
IndependentProject/docs/index/2016/08/04/_a.cfs
IndependentProject/docs/index/2016/08/04/_a.si
IndependentProject/docs/index/2016/08/04/segments_6
IndependentProject/docs/index/2016/08/05/_9.cfe
IndependentProject/docs/index/2016/08/06/segments_6
IndependentProject/docs/index/2016/08/02/_j.cfe
IndependentProject/docs/index/2016/08/02/_j.cfs
IndependentProject/docs/index/2016/08/02/_j.si
IndependentProject/docs/index/2016/08/02/segments_7
IndependentProject/docs/index/2016/08/03/_c.cfe
IndependentProject/docs/index/2016/08/03/segments_7
IndependentProject/docs/index/2016/08/02/_m.cfe
IndependentProject/docs/index/2016/08/02/_m.cfs
IndependentProject/docs/index/2016/08/02/_m.si
IndependentProject/docs/index/2016/08/02/segments_a
IndependentProject/docs/index/2016/08/03/_f.cfe
IndependentProject/docs/index/2016/08/03/_f.cfs
IndependentProject/docs/index/2016/08/03/_f.si
IndependentProject/docs/index/2016/08/03/segments_a
IndependentProject/docs/index/2016/08/04/_d.cfe
IndependentProject/docs/index/2016/08/04/_d.cfs
IndependentProject/docs/index/2016/08/04/_d.si
IndependentProject/docs/index/2016/08/04/segments_9
IndependentProject/docs/index/2016/08/05/_c.cfe
IndependentProject/docs/index/2016/08/05/_c.cfs
IndependentProject/docs/index/2016/08/05/_c.si
IndependentProject/docs/index/2016/08/05/segments_9
IndependentProject/docs/index/2016/08/06/_c.cfe
IndependentProject/docs/index/2016/08/06/_c.cfs
IndependentProject/docs/index/2016/08/06/_c.si
IndependentProject/docs/index/2016/08/06/segments_9
IndependentProject/docs/index/2016/08/07/_c.cfe
IndependentProject/docs/index/2016/08/07/_c.cfs
IndependentProject/docs/index/2016/08/07/_c.si
IndependentProject/docs/index/2016/08/07/segments_9
IndependentProject/docs/index/2016/08/08/_c.cfe
IndependentProject/docs/index/2016/08/08/_c.cfs
IndependentProject/docs/index/2016/08/08/_c.si
IndependentProject/docs/index/2016/08/08/segments_9
IndependentProject/docs/index/2016/08/09/_c.cfe
IndependentProject/docs/index/2016/08/09/_c.cfs
IndependentProject/docs/index/2016/08/09/_c.si
IndependentProject/docs/index/2016/08/09/segments_9
IndependentProject/docs/index/2016/08/10/_c.cfe
IndependentProject/docs/index/2016/08/10/_c.cfs
IndependentProject/docs/index/2016/08/10/_c.si
IndependentProject/docs/index/2016/08/10/segments_9
IndependentProject/docs/index/2016/08/11/_c.cfe
IndependentProject/docs/index/2016/08/11/_c.cfs
IndependentProject/docs/index/2016/08/11/_c.si
IndependentProject/docs/index/2016/08/11/segments_9
IndependentProject/docs/index/2016/08/08/_g.cfs
IndependentProject/docs/index/2016/08/08/_g.si
IndependentProject/docs/index/2016/08/08/segments_d
IndependentProject/docs/index/2016/08/09/_g.cfe
IndependentProject/docs/index/2016/08/09/_g.cfs
IndependentProject/docs/index/2016/08/09/_g.si
IndependentProject/docs/index/2016/08/09/segments_d
IndependentProject/docs/index/2016/08/10/_g.cfe
IndependentProject/docs/index/2016/08/10/_g.cfs
IndependentProject/docs/index/2016/08/10/_g.si
IndependentProject/docs/index/2016/08/07/_g.cfe
IndependentProject/docs/index/2016/08/07/_g.cfs
IndependentProject/docs/index/2016/08/07/_g.si
IndependentProject/docs/index/2016/08/07/segments_d
IndependentProject/docs/index/2016/08/08/_g.cfe
IndependentProject/docs/index/2016/08/10/segments_c
IndependentProject/docs/index/2016/08/11/_f.cfe
IndependentProject/docs/index/2016/08/06/_g.cfe
IndependentProject/docs/index/2016/08/06/_g.cfs
IndependentProject/docs/index/2016/08/06/_g.si
IndependentProject/docs/index/2016/08/06/segments_d
IndependentProject/docs/index/2016/08/05/_g.si
IndependentProject/docs/index/2016/08/05/segments_d
IndependentProject/docs/index/2016/08/11/_f.cfs
IndependentProject/docs/index/2016/08/11/_f.si
IndependentProject/docs/index/2016/08/11/segments_c
IndependentProject/docs/index/2016/08/05/_g.cfe
IndependentProject/docs/index/2016/08/05/_g.cfs
IndependentProject/docs/index/2016/08/02/_q.cfe
IndependentProject/docs/index/2016/08/02/_q.cfs
IndependentProject/docs/index/2016/08/02/_q.si
IndependentProject/docs/index/2016/08/02/segments_e
IndependentProject/docs/index/2016/08/03/_j.cfe
IndependentProject/docs/index/2016/08/03/_j.cfs
IndependentProject/docs/index/2016/08/03/_j.si
IndependentProject/docs/index/2016/08/03/segments_e
IndependentProject/docs/index/2016/08/04/_h.cfs
IndependentProject/docs/index/2016/08/04/segments_d
